<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }} | {{ page.title }}</title>
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    <link rel="stylesheet" href="{{ 'tailwindcss/base.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'tailwindcss/utilities.css' | asset_url }}">
    <script async src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script async src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script async src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    {{ 'scrolling-style.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <div class="loader df aic jcc">
      <div>
        <h1>Loading</h1>
        <h2 class="loader--text">0%</h2>
      </div>
    </div>

    <div class="demo-wrapper">
      <header class="df aic jcc">
        <div>
          <h1>stikbalm</h1>
          <h2>demo</h2>
        </div>
      </header>

      <section class="demo-text">
        <div class="wrapper text">
          BUY NOW   BUY NOW
        </div>
      </section>

      {% for i in (1..4) %}
        <section class="demo-gallery">
          <ul class="wrapper">
            {% assign random_num = "3,4" | split: "," | sample %}
            {% for j in (1..random _num) %}
              <li>
                <img
                  src="https://source.unsplash.com/random/{{ w }}x{{ h }}?sig={{ 0 | random: 206 }}"
                  width="{{ w }}"
                  height="{{ h }}" />
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endfor %}

      <section class="demo-text">
        <div class="wrapper text">
          BUY NOW   BUY NOW
        </div>
      </section>

      <footer class="df aic jcc">
        <p>Images from
          <a href="https://unsplash.com/">Unsplash</a>
        </p>
      </footer>



      <header>
        {{ content_for_header }}
      </header>

      <main>
        {{ content_for_layout }}
      </main>
    </body>
  </body>
</html>